<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>客户管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="/js/water.js"></script>
	<script>
		function search_customer() {
			document.search_customer_form.submit();
		}
	</script>
</head>

<body>
	<div class="container">
		<div class="formtitle"><span>录入客户用水量</span></div>
			<div class="col-sm-12">
				<form class="form-inline" name="search_customer_form" th:action="@{/waterdata/input_water_data}" method="get" >
					<div class=" form-group ">
						<select name="search_key" class="form-control">
							<option value="code">客户编号</option>
							<option value="address">客户地址</option>
						</select>
						&nbsp;&nbsp;
						 <input type="text" class="form-control" name="search_value" />
						 <a href="#" onclick="search_customer();"><span class="glyphicon glyphicon-search"></span></a>
					</div>
				</form>
			</div>
			<br></br><br></br><br></br>
			<div class="col-sm-12" th:if="${not #lists.isEmpty(meters)}">
				<form th:action="@{/waterdata/input_water_data}" method="post" th:with="curmonth=${#calendars.format(#calendars.createNow(), 'M')}" >
					<div class="col-sm-12 form-inline form-group">
						<label for="name">本期水表数月份:</label>
						<input type="text" class="form-control" name="month" onkeyup="int_input_validate(this)" th:value="${curmonth}" />
					</div>
					<div class="col-sm-12 form-inline form-group" th:each="meter,meterStat : ${meters}">
						<label for="name">客户姓名:</label>
						<input type="text" class="form-control" th:value="${meter.customer.name}" th:disabled="true" />
						<label for="name">水表号:</label>
						<input type="text" class="form-control" th:value="${meter.bodyNumber}" th:disabled="true" />
						<label for="name">&nbsp;&nbsp;上期水表数:</label>
						<input type="text" class="form-control" th:value="${meter.waterMeterData.orgNumber}" th:disabled="true" />
						<label for="name">&nbsp;&nbsp;本期水表数:</label>
						<input type="text" class="form-control" th:if="${meter.status eq 1}" th:name="'WaterNumber_' + ${meter.customer.customerInfo.code} + '_' + ${meter.bodyNumber}" onkeyup="float_input_validate(this)" />
						<input type="text" class="form-control" th:if="${meter.status ne 1}" th:value="水表停水状态" th:disabled="true" />
					</div>
					<div class="col-sm-12 form-inline">
						<input type="submit" value="保存" class="btn btn-default"/>
					</div>
					
				</form>
			</div>
			<div th:if="${#lists.isEmpty(meters)}">
				没有匹配的客户信息！！
			</div>
		
	</div>
</body>
</html>