<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>无标题文档</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<div class="container">
	    <div class="formtitle"><span>系统全局配置</span></div>
			<form th:action="@{/admin/configuration}" method="post">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">公司名称</h3>
					</div>
					<div class="panel-body">
						<input class="form-control" type="text" name="company_name"/>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">滞纳金设置</h3>
					</div>
					<div class="panel-body form-inline">
						<label>滞纳金天数：</label>
						<input class="form-control" type="text" name="late_pay_day"/>
						<label>滞纳金比例(%)：</label>
						<input class="form-control" type="text" name="late_pay_day"/>
					</div>
				</div>
			</form>
    </div>
</body>

</html>
