<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>listuser</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
    	<div>
		    <table class="table table-striped">
		    	<thead>
		    		<tr>
		        		<th>编号</th>
		        		<th>用户名</th>
		        		<th>姓名</th>
		        		<th>登录IP</th>
		        		<th>登录日期</th>
		        	</tr>
		        </thead>
		        <tbody>
		        <tr th:each="history,historyStat : ${historys}"> 
			        <td th:text="${historyStat.index} + 1">1</td> 
			        <td th:text="${history.userName}"></td> 
			        <td th:text="${history.chineseName}"></td>
			        <td th:text="${history.ip}"></td>
			        <td th:text="${history.loginTime}"></td>
		        </tr>        
		        </tbody>
		    </table>
		    <div th:include="paging :: paging"></div>
		</div>
	</body>

</html>
