<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>管理系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
    	<div class="container">
    		<div class="formtitle"><span>管理员操作日志</span></div>
		    <table class="table table-striped">
		    	<thead>
		    		<tr>
		        		<th>编号</th>
		        		<th>用户名</th>
		        		<th>模块</th>
		        		<th>操作</th>
		        		<th>IP</th>
		        		<th>内容</th>
		        		<th>日期</th>
		        	</tr>
		        </thead>
		        <tbody>
		        <tr th:each="history,historyStat : ${historys}"> 
			        <td th:text="${historyStat.index} + 1">1</td> 
			        <td th:text="${history.userChineseName}"></td> 
			        <td th:text="${history.moduleName}"></td>
			        <td th:text="${history.opName}"></td>
			        <td th:text="${history.ip}"></td>
			        <td th:text="${history.content}"></td>
			        <td th:text="${history.opTime}"></td>
		        </tr>        
		        </tbody>
		    </table>
		    <div th:include="paging :: paging"></div>
		</div>
	</body>

</html>
