<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
		<script>
			$(document).ready(function(){ 
					checkConfirm(); 
				});
				function checkConfirm(){ 
					$("#name").blur(function(){ 
						var gradename = $(this).val(); 
						var changeUrl = "/api/getuserbyname?name="+gradename; 
						$.get(changeUrl,function(str){ 
							if(str == '1'){ 
								$("#gradeInfo").html("您输入的用户名存在！请重新输入！"); 
							}else{ 
								$("#gradeInfo").html(""); 
							} 
					}) 
					return false; 
				}) 
			} 
		
		</script>
	</head>

	<body>
		<div class="container">
			<div class="formtitle"><span>管理员用户修改</span></div>
		    <div class="con-mid-8">
		    	<form name="create_user" th:action="@{/admin/user}" th:object="${sysUser}" method="post">
		    		<div class="col-sm-9" >
			    		<div class="form-group">
			    			<label>用户名(用于登录)(字母、数字、_):</label>
			    			<div class="row">
			    				<div class="col-sm-8">
			    					<input th:if="${sysUser.id eq 0}" id="name" class="form-control" th:value="${sysUser.name}" th:field="*{name}"></input>
			    					<input th:if="${sysUser.id ne 0}" id="name1" class="form-control" th:value="${sysUser.name}" th:field="*{name}" th:readonly="true"></input>
			    					<font color="#ff0000"> <span id="gradeInfo"></span></font>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="form-group">
			    			<label>中文名:</label>
			    			<div class="row">
			    				<div class="col-sm-8">
			    					<input id="chinese_name" class="form-control" th:value="${sysUser.chineseName}" th:field="*{chineseName}"></input>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="form-group">
			    			<label>E-Mail:</label>
			    			<div class="row">
			    				<div class="col-sm-8">
			    					<input id="email" class="form-control" th:value="${sysUser.email}" th:field="*{email}"></input>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="form-group">
			    			<label>密码:</label>
			    			<div class="row">
			    				<div class="col-sm-8">
			    					<input id="password" class="form-control" th:value="${sysUser.password}" th:field="*{password}"></input>
			    					<div class="checkbox">
										<label><input name="resetpwd" type="checkbox" value="1"/>重置密码（仅对编辑用户有效）</label>
									</div>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="form-group">
			    			<label>角色组:</label>
			    			<div class="row">
			    				<div class="col-sm-8" th:each="role,roleStat : ${roles}">
					   				<input th:id="${role.name}" type="checkbox" th:value="${role.id}" th:text="${role.name}" th:field="*{sysRoles}" > </input>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="con-mid-9">
		    				<input type="hidden" id="active" th:value="${sysUser.active}" th:field="*{active}"></input>
		    				<input type="hidden" id="id" th:value="${sysUser.id}" th:field="*{id}"></input>
		    				<input type="submit" name="保存" id="add" value="保存" class="btn btn-primary"></input>
		    			</div>
					</div>
				</form>
			</div>
		</div>
	</body>

</html>
