<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>用户列表</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
    	<div class="container">
    		<div class="formtitle"><span>管理员用户列表</span></div>
    		<div class="col-sm-13" align="right">
    			<form class="form-inline" role="form" method="get" th:action="@{/admin/user}">
    				<div class="form-group">
   						 <input type="text" class="form-control" name="k" placeholder="用户名或者中文名" />
  					</div>
  					<input type="submit" value="搜索用户" class="btn btn-default"/>
  					<div class="btn-group">
    					<a th:href="@{/admin/user/form}"><button type="button" class="btn btn-default">新增用户</button></a>
    				</div>
  				</form>
    		</div>
			<div>
			    <table class="table table-striped">
			    	<thead>
			    		<tr>
			        		<th>编号<i class="sort"></i></th>
			        		<th>用户名</th>
			        		<th>中文名</th>
			        		<th>邮件地址</th>
			        		<th>权限列表</th>
			        		<th>状态</th>
			        		<th>最后修改日期</th>
			        		<th>操作</th>
			        	</tr>
			        </thead>
			        <tbody>
			        <tr th:each="user,userStat : ${users}"> 
				        <td th:text="${userStat.index} + 1">1</td> 
				        <td th:text="${user.name}"></td> 
				        <td th:text="${user.chineseName}"></td>
				        <td th:text="${user.email}"></td>
				        <td>
				        	<font th:each="myrole:${user.sysRoles}">
				        		[<b th:text="${myrole.name}"/>]
				        	</font>
				        </td>
				        <td th:text="${user.active}"></td>
				        <td th:text="${user.createDate}"></td>
				        <td>
				        	<a th:href="@{/admin/user/form(id=${user.id})}">编辑</a>
				        	<a th:href="@{/admin/user/activate(id=${user.id})}">恢复</a>
				        	<a th:href="@{/admin/user/deactivate(id=${user.id})}">禁用</a>
				        </td>
			        </tr>        
			        </tbody>
			    </table>
		    </div>
		    <div th:include="paging :: paging"></div>
    	</div>
    	
	</body>

</html>
