<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>账单清单</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="/js/water.js"></script>
</head>

<body>
	<div class="container">
		<div class="formtitle"><span>客户缴费清单</span></div>
		<div id="printContent" style="width:500px" >
			<div align="center">缴费清单</div>
			<div>
				<table border="0">
					<tr>
						<td height="1" bgcolor="#333333"></td>
						<td height="1" bgcolor="#333333"></td>
					</tr>
					<tr>
						<td width="400">名称</td>
						<td width="100">小计</td>
					</tr>
					<tr>
						<td height="1" bgcolor="#333333"></td>
						<td height="1" bgcolor="#333333"></td>
					</tr>
					<tr th:each="item : ${payitems}">
						<td th:text="${item.name}"></td>
						<td th:text="${item.price}"></td>
					</tr>
					<tr>
						<td height="1" bgcolor="#333333"></td>
						<td height="1" bgcolor="#333333"></td>
					</tr>
					<tr>
						<td th:text="合计"></td>
						<td th:text="${total}"></td>
					</tr>
				</table>
			</div>
			<div align="right" th:text="'缴费日期:'+${bill.chargeDate}"></div>
		</div>
		<p></p>
		<p></p>
		<div th:if="${bill.isPrintExpenses eq 0}">
			<input class="btn btn-default" type="button" id="btnPrint" value="打印"/>
			<a th:href="@{/pay/print_expenses(id=${bill.id})}"><input type="button" class="btn btn-default" value="打印完成" /></a>
			<a th:href="@{/pay/pay_rollback(id=${bill.id})}"><input type="button" class="btn btn-default" value="撤销缴费" /></a>
			<div>完成打印后务必点击打印完成</div>
		</div>
		<div th:if="${bill.isPrintExpenses eq 1}">
			<span>该账单发票已打印过！</span>
		</div>
	</div>
<script type="text/javascript">  
$(function(){  
        $("#btnPrint").click(function(){ $("#printContent").printArea(); });  
});  
</script>
</body>
</html>