<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>资费管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<style>
		.div-hide {visibility:hidden; display:none}
	</style>
	<script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
	<script>
		function change_charge_type() {
			var type = document.getElementById("charge_type").value;
			if(type == "3") {
				document.getElementById("pricepernumber").style.display="none";
				document.getElementById("pricebydedicate").style.display="none";
				document.getElementById("pricebyste").style.display="";
				document.getElementById("pricebyste").style.visibility ="visible";
			}
			if(type == "2") {
				document.getElementById("pricepernumber").style.display="none";
				document.getElementById("pricebydedicate").style.display="";
				document.getElementById("pricebydedicate").style.visibility ="visible";
				document.getElementById("pricebyste").style.display="none";
			}
			if(type == "1") {
				document.getElementById("pricepernumber").style.display="";
				document.getElementById("pricepernumber").style.visibility ="visible";
				document.getElementById("pricebydedicate").style.display="none";
				document.getElementById("pricebyste").style.display="none";
			}
			if(type == "01") {
				document.getElementById("pricepernumber").style.display="none";
				document.getElementById("pricebydedicate").style.display="none";
				document.getElementById("pricebyste").style.display="none";
			}
		}
	</script>
</head>

<body>
	<div class="container">
		<div><h3>资费管理</h3></div>
		<form th:action="@{/biz/charge}" method="post" th:object="${charge}">
			<div class="col-sm-6">
				<div class="form-group">
					 <label for="name">名称:</label>
					 <input type="text" class="form-control" id="name" />
				</div>
				<div class="form-group ">
					 <label for="name">编号：</label>
					 <input type="text" class="form-control" id="code" />
				</div>
				<div class="form-group">
					 <label for="name">描述:</label>
					 <input type="text" class="form-control" id="description" />
				</div>
				<div class="form-group form-inline">
					 <label for="name">允许减免:</label>
					 <input type="checkbox" class="form-control" id="can_free" />
					 &nbsp;&nbsp;&nbsp;&nbsp;
					 <label for="name">计算增值税：</label>
					 <input type="checkbox" class="form-control" id="need_vat" />
				</div>
				<div class="form-group  form-inline">
					 <label for="name">费用来源：</label>
					 <select class="form-control" name="charge_from" >
					 	<option th:each="chargeFrom : ${chargeFroms}" th:value="${chargeFrom}" th:text="${chargeFrom}"></option>
					 </select>
				</div>
				<div class="form-group  form-inline">
					 <label for="name">计费方式：</label>
					 <select class="form-control" name="charge_type" id="charge_type" onchange="change_charge_type()">
					 	<option value="0" th:selected="true">请选择计费方式</option>
					 	<option th:each="chargeType : ${chargeTypes}" th:value="${chargeType.id}" th:text="${chargeType.name}"></option>
					</select>
				</div>
				<div class="form-group form-inline" id="pricepernumber">
					<label for="name">每吨水价(元/吨)：</label>
					<input type="text" class="form-control" name="price_per_number" />
				</div>
				<div class="div-hide form-group form-inline" id="pricebydedicate">
					<label for="name">每月收费(元/月)：</label>
					<input type="text" class="form-control" name="price_by_dedicate" />
				</div>
				<div class="div-hide" id="pricebyste">
					<div class="form-group  form-inline">
						<label for="step1">一级阶梯(吨)：</label>
						<input type="text" class="form-control" name="step1" />
						<label for="step1">价格：</label>
						<input type="text" class="form-control" name="step1" />
					</div>
					<div class="form-group  form-inline">
						<label for="step1">二级阶梯(吨)：</label>
						<input type="text" class="form-control" name="step1" />
						<label for="step1">价格：</label>
						<input type="text" class="form-control" name="step1" />
					</div>
					<div class="form-group form-inline ">
						<label for="step1">三级阶梯(吨)：</label>
						<input type="text" class="form-control" name="step1" />
						<label for="step1">价格：</label>
						<input type="text" class="form-control" name="step1" />
					</div>
				</div>
				<input type="submit" class="form-control" value="保存" />
			</div>
		</form>
	</div>
</body>
</html>