<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>客户管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<div class="formtitle"><span>客户列表</span></div>
    	<div class="col-sm-13 btn-group" align="right">
    		<a th:href="@{/biz/customer/edit/form}"><button type="button" class="btn btn-default">新增客户</button></a>
    	</div>
		<div>
			<table class="table table-striped">
				<thead>
			    	<tr>
			        	<th>编号<i class="sort"></i></th>
			        		<th>客户编号</th>
			        		<th>客户姓名</th>
			        		<th>客户手机</th>
			        		<th>当前水表数字</th>
			        		<th>账户余额</th>
			        		<th>抄表日期</th>
			        		<th>操作</th>
			        	</tr>
			        </thead>
			        <tbody>
			        <tr th:each="customer,customerStat : ${customers}"> 
				        <td th:text="${customerStat.index} + 1">1</td> 
				        <td th:text="${customer.customerInfo.code}"></td> 
				        <td th:text="${customer.name}"></td>
				        <td th:text="${customer.customerInfo.mobile}"></td>
				        <td th:text="${customer.waterNumber}"></td>
				        <td th:text="${customer.balance}"></td>
				        <td th:text="${customer.createTime}"></td>
				        <td>
				        	<a th:href="@{/biz/customer/edit/form(id=${charge.id})}">编辑</a>
				        	<a th:href="@{/biz/customer/activate(id=${charge.id})}">恢复</a>
				        	<a th:href="@{/biz/customer/deactivate(id=${charge.id})}">删除</a>
				        </td>
			        </tr>        
			        </tbody>
			    </table>
		    </div>
		    <div th:include="paging :: paging"></div>
	</div>
</body>
</html>