<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>客户管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="/js/water.js"></script>
	<script>
		function search_customer() {
			document.search_customer_by_code.submit();
		}
	</script>
</head>

<body>
	<div class="container">
		<div class="formtitle"><span>输入客户用水量</span></div>
		
			<div class="col-sm-4">
				<form name="search_customer_by_code" th:action="@{/biz/input_water_data}" method="get" th:object="${customer}" >
					<div class=" form-group ">
						 <label for="name">客户编号:</label>
						 <div class="form-inline">
						 	<input type="text" class="form-control" name="code" th:value="${customer.customerInfo.code}" />
						 	<a href="#" onclick="search_customer();"><span class="glyphicon glyphicon-search"></span></a>
						 </div>
					</div>
					<div class=" form-group ">
						 <label for="name">客户姓名:</label>
						 <input type="text" class="form-control" th:value="${customer.name}" th:disabled="true" />
					</div>
					<div class=" form-group ">
						 <label for="name">上期水表数:</label>
						 <input type="text" class="form-control" th:value="${customer.customerWater.orgNumber}" th:disabled="true" />
					</div>
				</form>
				<form th:action="@{/biz/input_water_data}" method="post" th:object="${customer}" >
					<div class=" form-group ">
						 <label for="name">本期水表数:</label>
						 <input type="text" class="form-control" name="waterNumber" onkeyup="float_input_validate(this)" />
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="保存" th:if="${customer.id gt 0}" />
						<input type="submit" class="btn btn-default" value="保存" th:if="${customer.id eq 0}" th:disabled="true" />
					</div>
					<input type="hidden" name="id" th:value="${customer.id}" th:field="*{id}"/>
				</form>
			</div>
		
	</div>
</body>
</html>