<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>客户管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<div><h3>客户缴费</h3></div>
		<div>
			<form>
				<div class="col-sm-4 form-group ">
					 <label for="name">用户编号:</label>
					 <input type="text" class="form-control" id="name" />
				</div>
				<div class="col-sm-4 form-group ">
					 <label for="name">用户姓名：</label>
					 <input type="text" class="form-control" id="address" />
				</div>
				<div class="col-sm-4 form-group ">
					 <label for="name">用户地址：</label>
					 <input type="text" class="form-control" id="phone" />
				</div>
				<div class="col-sm-4 form-group">
					 <label for="name">上月读表数:</label>
					 <input type="text" class="form-control" id="name" />
				</div>
				<div class="col-sm-4 form-group ">
					 <label for="name">本月读表数：</label>
					 <input type="text" class="form-control" id="address" />
				</div>
				<div class="col-sm-4 form-group ">
					 <label for="name">本月用水量：</label>
					 <input type="text" class="form-control" id="address" />
				</div>
				<div class="col-sm-4 form-group">
					 <label for="name">阶梯费率:</label>
					 <input type="text" class="form-control" id="name" />
				</div>
				<div class="col-sm-4 form-group ">
					 <label for="name">固定费率：</label>
					 <input type="text" class="form-control" id="address" />
				</div>
				<div class="col-sm-4 form-group ">
					 <label for="name">滞纳金：</label>
					 <input type="text" class="form-control" id="address"/>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-4 form-group">
						 <label for="name">合计:</label>
						 <input type="text" class="form-control" id="address"/>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-4 form-group">
						 <label for="name">上次结余:</label>
						 <input type="text" class="form-control" id="address"/>
					</div>
					<div class="col-sm-4 form-group ">
						 <label for="name">应付:</label>
						 <input type="text" class="form-control" id="address"/>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-4 form-group">
						 <label for="name">缴费金额:</label>
						 <input type="text" class="form-control" id="address"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>