<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>审核管理</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
    	<div class="container">
    		<div class="formtitle"><span>客户自动销账审核</span></div>
			
			<div>
			    <table class="table table-striped">
			    	<caption>以下客户余额大于本次费用，请确认自动缴费</caption>
			    	<thead>
			    		<tr>
			        		<th>编号<i class="sort"></i></th>
			        		<th>客户编号</th>
			        		<th>客户账单</th>
			        		<th>账单日期</th>
			        		<th>上期水表数</th>
			        		<th>本期水表数</th>
			        		<th>费用小计</th>
			        		<th>操作</th>
			        	</tr>
			        </thead>
			        <tbody>
			        <tr th:each="bill,billStat : ${allPendingBill}"> 
				        <td th:text="${billStat.index} + 1">1</td> 
				        <td th:text="${bill.customerCode}"></td> 
				        <td th:text="${bill.name}"></td> 
				        <td th:text="${bill.inputDate}"></td>
				        <td th:text="${bill.beginWaterWord}"></td>
				        <td th:text="${bill.endWaterWord}"></td>
				        <td th:text="${bill.totalPostage}"></td>
				        <td>
				        	<a th:href="@{/approve/customerbill(customerCode=${bill.customerCode})}">确认</a>
				        </td>
			        </tr>        
			        </tbody>
			    </table>
		    </div>
    	</div>
    	
	</body>

</html>
