@charset "utf-8";

/*right frame*/
.title {height:50px;}
.formtitle{border-bottom:solid 1px #d0dee5; line-height:35px; position:relative; height:35px; margin-bottom:28px;}
.formtitle span,.formtitle1 span{font-weight:bold;font-size:14px; border-bottom:solid 3px #F99331;float:left; position:absolute; z-index:100; bottom:-1px; padding:0 3px; height:30px; line-height:30px;}