<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>角色管理</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="place">
    		<span>位置：</span>
    		<ul class="placeul">
	    		<li>首页</li>
	    		<li>系统管理</li>
	    		<li>角色管理</li>
    		</ul>
    	</div>
    	<div class="blank-lin-20"></div>
    	<div class="con-mid-9">
    		<form name="create_role" th:action="@{/admin/role}" th:object="${role}" method="post">
	    		<div class="col-sm-6" >
	    			<div class="form-group">
	    				<label>角色名:</label>
	    				<div class="row">
	    					<div class="col-sm-8">
	    						<input name="name" id="name" class="form-control" th:value="${role.name}" th:field="*{name}"></input>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="form-group">
	    				<label>角色代码:</label>
	    				<div class="row">
	    					<div class="col-sm-8">
	    						<input name="code" id="code" class="form-control" th:value="${role.code}"  th:field="*{code}"></input>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="form-group">
	    				<label>角色类型:</label>
	    				<div class="row">
	    					<div class="col-sm-8">
	    						<input name="type" id="type" class="form-control"  th:value="${role.type}" th:field="*{type}"></input>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="form-group">
	    				<label>角色备注:</label>
	    				<div class="row">
	    					<div class="col-sm-8">
	    						<input name="memo" id="memo" class="form-control" th:value="${role.memo}"  th:field="*{memo}"></input>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="con-mid-9">
	    				<input type="hidden" id="active" th:value="${role.active}" th:field="*{active}"></input>
	    				<input type="hidden" id="id" th:value="${role.id}" th:field="*{id}"></input>
	    				<input type="submit" name="保存" id="add" value="保存" class="btn btn-primary"></input>
	    			</div>
	    		</div>
	    	</form>
    		<div class="col-sm-6">
    			<div class="con-mid-9">
    				<table class="tablelist">
				    	<thead>
				    		<tr>
				        		<th>编号</th>
				        		<th>角色名</th>
				        		<th>状态</th>
				        		<th>角色代码</th>
				        		<th>角色类型</th>
				        		<th>角色备注</th>
				        		<th>操作</th>
				        	</tr>
				        </thead>
				        <tbody>
				        <tr th:each="role,roleStat : ${roles}"> 
					        <td th:text="${roleStat.index} + 1">1</td> 
					        <td th:text="${role.name}"></td> 
					        <td th:text="${role.active}"></td> 
					        <td th:text="${role.code}"></td>
					        <td th:text="${role.type}"></td>
					        <td th:text="${role.memo}"></td>
					        <td>
					        	<a th:href="@{/admin/role/update(id=${role.id},action=update)}">更新</a>
			        			<a th:href="@{/admin/role/update(id=${role.id},action=enable)}">激活</a>
			        			<a th:href="@{/admin/role/update(id=${role.id},action=disable)}">禁用</a>
					        </td>
				        </tr>        
				        </tbody>
				    </table>
				    <p></p>
				    <span><font color="#ff0000">* 状态为0表示被禁用，删除后角色状态为0！！</font></span>
				    <span><font color="#ff0000">* 当增加或删除角色后，需要重新登录！！</font></span>
				</div>
				
    		</div>
    	</div>
    	
	</body>

</html>
