<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
	    <div class="formbody">
	    	<div class="formtitle"><span>基本信息</span></div>
	    	<form name="update_user" th:action="@{/debug/school}" method="post" th:object="${teacher}">
	    		<ul class="forminfo">
				   <li><label>用户名</label><input name="username" id="username" type="text" class="dfinput" th:value="${teacher.name}" th:field="*{name}" /><i></i></li>
				   <li th:each="student,studentStat : ${students}">
				   		<input th:name="${student.name}" type="checkbox" th:value="${student.id}" th:text="${student.name}" th:field="*{students}" /> <br></br>
	   				</li>
	   				<input type="hidden" name="id" th:value="${teacher.id}" th:field="*{id}" />
	    			<li><input name="submit" type="submit" class="btn" value="保存"/></li>
				</ul>
			</form>
		</div>
	</body>

</html>
