<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script>
			$(document).ready(function(){ 
				checkConfirm(); 
			}); 
			function checkConfirm(){ 
				$("#username").blur(function(){ 
					var gradename = $(this).val(); 
					var changeUrl = "/api/getuserbyname?name="+gradename; 
				$.get(changeUrl,function(str){ 
				if(str == '1'){ 
					$("#gradeInfo").html("您输入的用户名存在！请重新输入！"); 
				}else{ 
					$("#gradeInfo").html(""); 
				} 
			}) 
			return false; 
			}) 
			} 
		
		</script>
	</head>

	<body>
		<div class="place">
    		<span>位置：</span>
		    <ul class="placeul">
		    	<li>首页</li>
		    	<li>用户管理</li>
		    	<li>添加|删除|修改	</li>
		    </ul>
   		</div>
    
	    <div class="formbody">
	    	<div class="formtitle"><span>基本信息</span></div>
	    	<form name="update_user" th:action="@{/admin/user}" method="post">
	    		<ul class="forminfo">
				   <li><label>系统用户名</label><input name="username" id="username" type="text" class="dfinput" /><i>(长度16，英文字母、数字、_)</i>
				   <span id="gradeInfo">*</span></li>
				   <li><label>中文名</label><input name="chinesename" type="text" class="dfinput" /><i></i></li>
				   <li><label>随机密码</label><input name="password" type="text" class="dfinput" th:value="${random_password}" /></li>
				   <li><label>用户组</label>
				   		<input name="sysadmin" type="checkbox" value="" />系统管理员 <br></br>
				    	<input name="useradmin" type="checkbox" value=""  />用户管理员 <br></br>
				    	<input name="useradmin" type="checkbox" value="" />用户管理员<br></br>
	   				</li>
	    			<li><input name="" type="button" class="btn" value="保存"/> </li>
	    		
				</ul>
			</form>
		</div>
	</body>

</html>
