<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>用户列表</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
			$(document).ready(function(){
  				$(".click").click(function(){
  					$(".tip").fadeIn(200);
  				});
	  			$(".tiptop a").click(function(){
	  				$(".tip").fadeOut(200);
				});
	 			$(".sure").click(function(){
	  				$(".tip").fadeOut(100);
				});
	  			$(".cancel").click(function(){
	  				$(".tip").fadeOut(100);
				});
			});
		</script>
	</head>

	<body>
		<div class="place">
    		<span>位置：</span>
    		<ul class="placeul">
	    		<li>首页</li>
	    		<li>系统管理</li>
	    		<li>用户列表</li>
    		</ul>
    	</div>
    	<div class="rightinfo">
    		<div class="tools">
    			<div class="col-sm-6">
    				<ul class="toolbar">
    					<li><a th:href="@{/admin/user/create}"><span><img src="/images/t01.png" /></span>新增</a></li>
    				</ul>
    			</div>
    			<div class="col-sm-6" align="right">
    				<form name="search" method="get" th:action="@{/admin/user}">
    					<input type="text" name="k" placeholder="用户名或者中文名" class="scinput" /> <input type="submit" value="搜索" class="btn btn-default"/>
    				</form>
    			</div>
    		</div>

		    <table class="tablelist">
		    	<thead>
		    		<tr>
		        		<th>编号<i class="sort"></i></th>
		        		<th>用户名</th>
		        		<th>中文名</th>
		        		<th>邮件地址</th>
		        		<th>权限列表</th>
		        		<th>状态</th>
		        		<th>最后修改日期</th>
		        		<th>操作</th>
		        	</tr>
		        </thead>
		        <tbody>
		        <tr th:each="user,userStat : ${users}"> 
			        <td th:text="${userStat.index} + 1">1</td> 
			        <td th:text="${user.name}"></td> 
			        <td th:text="${user.chineseName}"></td>
			        <td th:text="${user.email}"></td>
			        <td>
			        	<font th:each="myrole:${user.sysRoles}">
			        		[<b th:text="${myrole.name}"/>]
			        	</font>
			        </td>
			        <td th:text="${user.active}"></td>
			        <td th:text="${user.createDate}"></td>
			        <td>
			        	<a th:href="@{/admin/user/modify(id=${user.id},action=update)}">编辑</a>
			        	<a th:href="@{/admin/user/modify(id=${user.id},action=enable)}">恢复</a>
			        	<a th:href="@{/admin/user/modify(id=${user.id},action=disable)}">删除</a>
			        </td>
		        </tr>        
		        </tbody>
		    </table>
		    <div class="pagin">
		    	<div class="message">共<i class="blue" th:text="${totalCount}"></i>条记录，当前显示第&nbsp;<i class="blue" th:text="${pageNum}"></i>页</div>
		        <ul class="paginList">
			        <li class="paginItem">
	                    <a th:if="${isFirstPage == false}" th:href="@{${pageUrl}(page=${pageNum-1},size=${pageSize})}"><span class="pagepre"></span></a>
	                    <a th:if="${isFirstPage == true}" href="javascript:;"><span class="pagepre"></span></a>
	                </li>
	                <li class="paginItem">
	                	<a th:if="${pageNum gt 3}" th:href="@{${pageUrl}(page=1,size=${pageSize})}">1</a>
	                </li>
	                <li class="paginItem">
	                	<a th:if="${pageNum-2 gt 1}" href="javascript:;">...</a>
	                </li>
			        <li th:each="pageNo : ${#numbers.sequence(pageNum - 2, pageNum + 2)}" class="paginItem">
						<a th:if="${pageNo gt 0 and pageNo lt totalPages+1 and pageNo ne pageNum}" th:href="@{${pageUrl}(page=${pageNo},size=${pageSize})}">
                        	<font th:text="${pageNo}"></font>
                    	</a>
                    	<a th:if="${pageNo gt 0 and pageNo lt totalPages+1 and pageNo eq pageNum}" href="javascript:;">
                        	<u th:text="${pageNo}"></u>
                    	</a>
                	</li>
                	<li class="paginItem">
	                	<a th:if="${pageNum+2 lt totalPages}" href="javascript:;">...</a>
	                </li>
                	<li class="paginItem">
	                	<a th:if="${pageNum+2 lt totalPages}" th:href="@{${pageUrl}(page=${totalPages},size=${pageSize})}" th:text="${totalPages}"></a>
	                </li>
                	<li class="paginItem">
                        <a th:if="${isLastPage == false}" th:href="@{${'/admin/user'}(page=${pageNum+1},size=${pageSize})}"><span class="pagenxt"></span></a>
                        <a th:if="${isLastPage == true}" href="javascript:;"><span class="pagenxt"></span></a>
                    </li>
		        </ul>
		    </div>
    	</div>
    	<div class="con-mid-9">
    		<span>注意：状态为1表示可用，删除操作仅仅改变状态为0，仍然可以恢复</span>
    	</div>
	</body>

</html>
