<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>客户类别管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
</head>

<body onload="change_charge_type();">
	<div class="container">
		<div class="formtitle"><span>客户类别管理</span></div>
		<form th:action="@{/customer/type}" method="post" th:object="${customerType}">
			<div class="col-sm-6">
				<div class="form-group">
					 <label for="name">名称:</label>
					 <input type="text" class="form-control" th:value="${customerType.name}" th:field="*{name}" />
				</div>
				<div class="form-group ">
					 <label for="name">描述：</label>
					 <input type="text" class="form-control" th:value="${customerType.description}" th:field="*{description}" />
				</div>
				<div class="form-group ">
					 <label for="name">请选择资费：</label>
					 <div class="row">
			    		<div class="col-sm-8" th:each="charge,chargeStat : ${all_charges}">
					   		<input th:id="${charge.name}" type="checkbox" th:value="${charge.id}" th:text="${charge.name}" th:field="*{charges}" > </input>
			    		</div>
			    	</div>
				</div>
				
				<div class="form-group" >
					<input type="submit" class="btn btn-default" value="保存" />
				</div>
				<input type="hidden" name="id" th:value="${customerType.id}" th:field="*{id}"/>
			</div>
		</form>
	</div>
</body>
</html>