<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>客户管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<div class="formtitle"><span>客户搜索</span></div>
    	<div class="col-sm-4 ">
    		<form class="form-group" th:action="@{/customer/manage/search}" method="post" >
    			<label>客户编号:</label>
    			<input type="text" class="form-group form-control" name="customerCode" th:placeholder="如不指定请不填" />
    			<label>客户姓名:</label>
   				<input type="text" class="form-group form-control" name="customerName" th:placeholder="如不指定请不填" />
   				<label>客户地址:</label>
   				<input type="text" class="form-group form-control" name="customerAddress" th:placeholder="可以只填写关键字" />
   				<label>供水片区:</label>
   				<select class="form-group form-control" name="waterProvider">
   					<option th:each="waterProvider : ${waterProviders}" th:value="${waterProvider.id}" th:text="${waterProvider.name}"></option>
   				</select>
   				<label>客户状态:</label>
   				<select class="form-group form-control" name="customerStatus">
   					<option value="1">正常</option>
   					<option value="0">销户</option>
   				</select>
   				<label>水表状态:</label>
   				<select class="form-group form-control" name="meterStatus">
   					<option value="1">正常</option>
   					<option value="2">停水</option>
   				</select>
  				<input type="submit" value="搜索" class="btn btn-default"/>
    		</form>
    	</div>
	</div>
</body>
</html>