<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>客户管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script>
		function show_detail(id) {
			var mydiv = $("#detailed_info").val();
			var url = "/biz/customer_type/list_charge?id=" + id;
			$(mydiv).load(url,"",function() {
				 $("#detailed_info").fadeIn("slow");
			} 
		}
	</script>
</head>

<body>
	<div class="container">
		<div class="formtitle"><span>客户类别管理</span></div>
    	<div class="col-sm-12" align="right">
    		<a th:href="@{/customer/type/form}"><button type="button" class="btn btn-default">新增</button></a>
    	</div>
		<div>
			<div class="col-sm-8" id="type_list">
				<table class="table table-striped">
					<thead>
				    	<tr>
				        	<th>编号<i class="sort"></i></th>
				        	<th>用户类别</th>
				        	<th>备注</th>
				        	<th>操作</th>
				        </tr>
					</thead>
					<tbody>
						<tr th:each="customerType,customerTypeStat : ${customerTypes}"> 
							<td th:text="${customerTypeStat.index} + 1">1</td> 
							<td >
								<a th:href="@{/customer/type(id=${customerType.id})}" th:text="${customerType.name}"></a>
							</td> 
							<td th:text="${customerType.description}"></td>
							<td>
						    	<a th:href="@{/customer/type/form(id=${customerType.id})}">编辑</a>
							</td>
						</tr>        
					</tbody>
				</table>
			</div>
			<div class="col-sm-4" id="detailed_info">
				<table class="table table-striped">
					<thead>
				    	<tr>
				        	<th>编号<i class="sort"></i></th>
				        	<th>收费类别</th>
				        </tr>
					</thead>
					<tbody>
						<tr th:each="charge,chargeStat:${type.charges}"> 
							<td th:text="${chargeStat.index} + 1">1</td> 
							<td th:text="${charge.name}"></td> 
						</tr>        
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>