<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>客户管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/water.js"></script>
</head>

<body>
	<div class="container">
		<div class="formtitle"><span>客户管理</span></div>
		<form th:action="@{/biz/customer}" method="post" th:object="${customer}" >
			<div class="col-sm-8">
				<div class="col-sm-6 form-group ">
					 <label for="name">客户姓名:</label>
					 <input type="text" class="form-control" th:value="${customer.name}" th:field="*{name}" />
				</div>
				<div class="col-sm-6 form-group ">
					 <label for="name">客户编号:</label>
					 <input type="text" class="form-control" th:value="${customer.customerInfo.code}" th:field="*{customerInfo.code}" />
				</div>
				<div class="col-sm-12 form-group ">
					 <label for="name">客户地址:</label>
					 <input type="text" class="form-control" th:value="${customer.customerInfo.address}" th:field="*{customerInfo.address}" />
				</div>
				
				<div class="col-sm-6 form-group ">
					 <label for="name">客户电话:</label>
					 <input type="text" class="form-control" th:value="${customer.customerInfo.telephony}" th:field="*{customerInfo.telephony}" />
				</div>
				<div class="col-sm-6 form-group ">
					 <label for="name">客户手机:</label>
					 <input type="text" class="form-control" th:value="${customer.customerInfo.mobile}" th:field="*{customerInfo.mobile}" />
				</div>
				<div class="col-sm-6 form-group ">
					 <label for="name">客户证件:</label>
					 <select class="form-control" th:value="${customer.customerInfo.certificateName}" th:field="*{customerInfo.certificateName}" >
					 	<option th:each="certificateName : ${certificateNames}" th:value="${certificateName}" th:text="${certificateName}"></option>
					 </select>
				</div>
				<div class="col-sm-6 form-group ">
					 <label for="name">证件号码:</label>
					 <input type="text" class="form-control" th:value="${customer.customerInfo.certificateId}" th:field="*{customerInfo.certificateId}" />
				</div>
				<div class="col-sm-6 form-group ">
					 <label for="name">抄表周期:</label>
					 <select class="form-control" th:value="${customer.readMeterCycle}" th:field="*{readMeterCycle}" >
					 	<option th:each="cycle : ${readMeterCycles}" th:value="${cycle}" th:text="${cycle}"></option>
					 </select>
				</div>
				<div class="col-sm-6 form-group ">
					 <label for="name">应缴费日:</label>
					 <select class="form-control" th:field="*{billingDay}">
					 	<option th:each="i : ${#numbers.sequence( 1, 28)}" th:value="${i}" th:text="${i}" th:if="${i eq customer.billingDay}" th:selected="true"></option>
					 	<option th:each="i : ${#numbers.sequence( 1, 28)}" th:value="${i}" th:text="${i}" th:if="${i ne customer.billingDay}"></option>
					 </select>
				</div>
				<div class="col-sm-6 form-group ">
					 <label for="name">供水片区:</label>
					 <select class="form-control" th:field="*{waterProvider.id}">
					 	<option th:each="waterProvider : ${waterProviders}" th:value="${waterProvider.id}" th:text="${waterProvider.name}" th:if="${customer.waterProvider.id eq waterProvider.id}" th:selected="true"></option>
					 	<option th:each="waterProvider : ${waterProviders}" th:value="${waterProvider.id}" th:text="${waterProvider.name}" th:if="${customer.waterProvider.id ne waterProvider.id}"></option>
					 </select>
				</div>
				<div class="col-sm-6 form-group ">
					 <label for="name">客户类型:</label>
					 <select class="form-control" th:field="*{customerType.id}">
					 	<option th:each="customerType : ${customerTypes}" th:value="${customerType.id}" th:text="${customerType.name}" th:if="${customer.customerType.id eq customerType.id}" th:selected="true"></option>
					 	<option th:each="customerType : ${customerTypes}" th:value="${customerType.id}" th:text="${customerType.name}" th:if="${customer.customerType.id ne customerType.id}"></option>
					 </select>
				</div>
				<div class="col-sm-6 form-group ">
					 <label for="name">客户水表数:</label>
					 <input type="text" class="form-control" th:value="${customer.customerWater.orgNumber}" th:field="*{customerWater.orgNumber}" onkeyup="float_input_validate(this)" />
				</div>
				<div class="col-sm-6 form-group ">
					 <label for="name">客户余额:</label>
					 <input type="text" class="form-control" th:value="${customer.balance}" th:field="*{balance}" onkeyup="float_input_validate(this)" />
				</div>
				<div class="col-sm-4">
					<input type="submit" class="btn btn-default" value="保存" />
				</div>
				<input type="hidden" th:value="${customer.id}" th:field="*{id}"/>
				<input type="hidden" th:value="${customer.customerInfo.id}" th:field="*{customerInfo.id}"/>
				<input type="hidden" th:value="${customer.customerWater.id}" th:field="*{customerWater.id}"/>
				<input type="hidden" th:value="${customer.status}" th:field="*{status}" />
			</div>
		</form>
	</div>
</body>
</html>